html{
    background-color: #618282;
}
body{
    max-width: 600px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
}

img.Background{
    width:100%;
}

img.one{
    content:url("../Images/one.jpeg")
}

img.two{
    content:url("../Images/two.jpeg")
}

img.three{
    content:url("../Images/three.jpeg")
}

img.four{
    content:url("../Images/four.jpeg")
}

img.five{
    content:url("../Images/five.jpeg")
}



