img.Background{
    width:100%;
}

img.one{
    content:url("../Images/one.jpeg")
}

img.two{
    content:url("../Images/two.jpeg")
}

img.three{
    content:url("../Images/three.jpeg")
}

img.four{
    content:url("../Images/four.jpeg")
}

img.five{
    content:url("../Images/five.jpeg")
}



